<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS-VideoParser 测试</title>
    <link rel="shortcut icon" href="{{ static_url('img/favicon.ico') }}"/>

</head>
<body>

<center>
    视频所在网页URL: <input id="page_url" type="text" name="url" value="" width="500"/>
    <br/>
    <button id="parse_it" onclick='parser(document.getElementById("page_url").value);'>开始解析</button>
    <hr>
    <div id="parse_result"></div>
</center>

<script src="{{ static_url('js/parserlib.js') }}"></script>


</body>
</html>